.table__first-child {
  margin-left: 40px;
  max-width: 550px;
  margin-bottom: 10px;
}

.table__first-child-header,
.table__first-child-data {
  display: grid;
  grid-template-columns:
    40px
    minmax(40px, 1fr)
    minmax(80px, 2fr)
    minmax(80px, 1fr)
    minmax(60px, 1fr)
    minmax(50px, 1fr);
  align-items: center;
  gap: 8px;
}

.table__first-child-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.table__first-child-wrapper--open {
  max-height: 1000px;
}
